h1 {
  color: #20d6ca;
  text-align: center;
}
    

button{
  color: #170602;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#main {
  height: 100vh;
  width: 100vw;
  background-color: #3c415e;
}